<html>
	<head>
		<title>Strand</title>
		<link rel="stylesheet" href="" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<style>
			body {
				background-color: #228B22;
			}
			h1 {
				text-align: center;
				margin-bottom: 0px;
				font-family: 'Open Sans', sans-serif;
				font-weight: 400;
			}

			h2 {
				text-align: center;
				margin-top: 0px;
				font-family: 'Open Sans', sans-serif;
				font-weight: 300;
				margin-bottom: 0px;
			}

			footer {
				text-align: center;
				text-decoration: none;
				font-family: 'Open Sans', sans-serif;
				font-weight: 400;
			}

			a {
				text-decoration: none;
			}

			#phone {
				margin-top: 0px;
				display: block;
				margin-left: auto;
				margin-right: auto;		    
			}
		</style>
		<h1>Strand</h1>
		<h2>Explore your wild imagination.</h1>
		<img id="phone" src="http://38.media.tumblr.com/c5e58e38cd48723b5b32c7c99a56de2e/tumblr_n7orloEoaF1txtn8vo1_1280.gif">
	</body>
	<footer>
		Created by Michael Stromer. Write Strands <a href="http://strands.herokuapp.com"><b>here!</b></a><br>
		<small>You can query the API <a href="">here!</a></small><br>
		<small>Inspired by <a href="https://getpuns.herokuapp.com">Puns</a></small>
	</footer>
</html>

